/* Layout-specific styles */
#app.main-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#app.main-layout #app-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#app.alternate-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#app.alternate-layout .alternate-layout__container {
	display: flex;
	flex-direction: row;
	flex: 1;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

#app.alternate-layout .alternate-layout__container app-sidebar {
	flex: 0 0 16rem;
    background-color: var(--color-gray-800);

	@media (max-width: 768px) {
		flex: 0 0 auto;
		width: 100%;
	}
}

#app.alternate-layout .alternate-layout__container #app-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-width: 768px) {
		flex: 1 0 auto;
	}
}
